* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --bg-color: rgb(124, 0, 0);
    --bg-color-1: rgb(121, 0, 0);
    --bg-color-2: rgb(238, 30, 30);
    --bg-color-3: rgb(24, 0, 0);
    --bg-color-4: rgb(32, 3, 3);
}

body {
    color: #fff;
    background: var(--bg-color-3);
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}


.main {
    background: url('bg-img.jpg');
    min-height: 100vh;
    background-size: cover;
    pointer-events: auto;
    background-position: center;
    transition: .3s ease;
}

.main.active {
    filter: blur(15px);
    pointer-events: none;
}

.container {
    display: flex;
    height: 100vh;
    width: 200%;
}

.home {
    position: relative;
    left: -50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    max-width: 600px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.home-content h1 {
    font-size: 70px;
    font-weight: 500;
    text-shadow: 2px 2px 2px rgb(252, 252, 252), 5px 5px 5px rgb(5, 5, 5);
    color: var(--bg-color);
    letter-spacing: 1px;
    border: 4px solid var(--bg-color-1);
    border-radius: 10px;
    box-shadow: 2px 2px 5px, -2px -2px 5px var(--bg-color-2);
    margin: 25px;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.home-content p {
    border: 2px solid #000;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 10px;
    color: #e6ffef;
    word-spacing: 1px;
    font-weight: 300;
    text-shadow: 2px 2px 2px rgb(14, 44, 0), 5px 5px 5px rgb(5, 5, 5);
    border-right: 2px solid black;
    white-space: nowrap;
    overflow-wrap: break-word;
    word-break: break-all;
    white-space: pre-line;
    animation: colorChange 7s infinite, typing 4s steps(22) 1s forwards;
}

@keyframes colorChange {
    0% {
        color: rgb(255, 255, 255);
    }


    50% {
        color: rgb(0, 255, 255);
    }

    100% {
        color: rgb(251, 255, 0);
    }


}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}



.home-content .start-btn {
    padding: 13px;
    background: var(--bg-color);
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px var(--bg-color);
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.home-content .start-btn:hover {
    background: var(--bg-color-4);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    color: var(--bg-color);
}

.popup-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.popup-info.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);

}

.popup-info h2 {
    font-size: 70px;
    font-weight: 500;
    text-shadow: 2px 2px 2px rgb(252, 252, 252), 5px 5px 5px rgb(5, 5, 5);
    color: var(--bg-color);
    letter-spacing: 1px;
    border: 4px solid var(--bg-color-1);
    border-radius: 10px;
    box-shadow: 2px 2px 5px, -2px -2px 5px var(--bg-color-2);
    margin: 25px;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.popup-info span {
    border: 2px solid var(--bg-color-1);
    border-radius: 5px;
}

.popup-info span:hover {
    background-color: var(--bg-color-2);
}

.popup-info .info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    margin: 4px 0;
    padding: 5px;
    color: var(--bg-color);
}

.popup-info .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: 10px;
    padding: 15px 0 7px;
}

.popup-info .btn-group .info-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: var(--bg-color);
    border: 2px solid var(--bg-color);
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    cursor: pointer;
    transition: .5s;
}

.popup-info .btn-group .info-btn:nth-child(1) {
    background: transparent;
    color: var(--bg-color);
}

.popup-info .btn-group .info-btn:nth-child(1):hover {
    background: var(--bg-color);
    color: white;
}

.popup-info .btn-group .info-btn:nth-child(2):hover {
    background: var(--bg-color-4);
    border-color: #ffffff;
    letter-spacing: 3px;
    font-size: 900;
}

.quiz-section {
    position: relative;
    left: -50%;
    width: 100%;
    background: var(--bg-color-3);
    justify-content: center;
    display: flex;
    align-items: center;
    transition: .8s ease-in-out;
    transition-delay: .25s;
    z-index: 100;
    letter-spacing: 1%;
}

.quiz-section.active {
    left: 0;
}

.quiz-section .quiz-box {
    position: relative;
    width: 500px;
    background: transparent;
    border: 3px solid var(--bg-color);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
}

.quiz-section .quiz-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
}


.quiz-box h1 {
    font-size: 32px;
    text-align: center;
    background: linear-gradient(45deg, transparent, var(--bg-color), transparent);
    border-radius: 6px;

}

.quiz-box .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    border-bottom: 3px solid var(--bg-color);
    margin-bottom: 30px;
}

.quiz-header span {
    font-size: 18px;
    font-weight: 500;
}

.quiz-header .header-score {
    background: var(--bg-color);
    border-radius: 3px;
    padding: 7px;
}

.quiz-box .question-text {
    font-size: 24px;
    font-weight: 600;
}

.option-list .option {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid rgba(225, 225, 225, .2);
    border-radius: 5px;
    font-size: 17px;
    margin: 15px 0;
    cursor: pointer;
    transition: .3s;
}

.option-list .option:hover {
    background: rgba(225, 225, 225, .1);
    border-color: rgba(225, 225, 225, .1);
}

.option-list .option.correct {
    background: var(--bg-color-3);
    color: #00a63d;
    border-color: #00a63d;
}

.option-list .option.incorrect {
    background: var(--bg-color-3);
    color: #a60000;
    border-color: #ff0505;
}

.option-list .option.disabled {
    pointer-events: none;
}

.quiz-box .quiz-footer {
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-top: 3px solid var(--bg-color);
    padding-top: 20px;
    margin-top: 25px;
}

.quiz-footer .question-total {
    font-size: 16px;
    font-weight: 600;
}

.quiz-footer .next-btn {
    width: 100px;
    height: 45px;
    background: rgba(225, 225, 225, .1);
    border: 2px solid rgba(225, 225, 225, .1);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: rgba(225, 225, 225, .3);
    font-weight: 600;
    pointer-events: none;
    cursor: pointer;
    transition: .5s;
}

.quiz-footer .next-btn.active {
    pointer-events: auto;
    background: var(--bg-color);
    border-color: var(--bg-color);
    color: #fff;
}

.quiz-footer .next-btn.active:hover {
    background: #01950d;
    border-color: #33fd00e1;
    transition: 1s;
}

.quiz-section .result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: transparent;
    border: 2px solid var(--bg-color);
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.quiz-section .result-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(.9);

}

.result-box h2 {
    font-size: 52px;
}

.result-box .percentage-container {
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
}

.percentage-container .circular-progress {
    width: 250px;
    height: 250px;
    position: relative;
    background: conic-gradient(var(--bg-color) 3.6deg, rgba(225, 225, 225, .1) 10deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.percentage-container .circular-progress::before {
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: var(--bg-color-3);
    border-radius: 50%;
}

.circular-progress .progress-value {
    position: relative;
    font-size: 45px;
    font-weight: 700;
    margin-top: 20px;
}

.percentage-container .score-text {
    font-size: 26px;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 20px;
}

.result-box .buttons {
    display: flex;
}

.buttons button {
    width: 130px;
    height: 47px;
    background: var(--bg-color);
    border-radius: 6px;
    border: 2px solid #f7f7f7;
    outline: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    margin: 0 20px 20px;
    transition: .6s ease-in-out;
}



.buttons button:nth-child(1):hover {
    background: transparent;
    color: var(--bg-color);
}

.buttons button:nth-child(2) {
    background: transparent;
    color: var(--bg-color);
}

.buttons button:nth-child(2):hover {
    background: var(--bg-color);
    color: #fff;
}

@media (max-width: 636px) {

    .home-content {
        max-width: 450px;
        align-items: center;
        display: flex;
        gap: 30px;
        flex-direction: column;
    }

    .home-content h1 {
        font-size: 50px;
        font-weight: 500;
    }

    .home-content p {
        letter-spacing: 2px;
        word-spacing: 3px;
        line-height: 35px;
        font-size: 25px;
        padding: 20px;
    }
}

@media (max-width: 500px) {
    .container {
        display: flex;
        height: 100vh;
        width: 300%;
    }

    .home {
        position: relative;
        left: -58%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-content {
        max-width: 350px;
        align-items: center;
        display: flex;
        gap: 30px;
        flex-direction: column;
    }

    .home-content h1 {
        font-size: 40px;
        font-weight: 500;
    }

    .home-content p {
        letter-spacing: 2px;
        word-spacing: 3px;
        line-height: 35px;
        font-size: 18px;
        padding: 20px;
    }

    .popup-info {
        width: 350px;
    }

    .quiz-section .quiz-box {
        width: 400px;
        left: -17%;
    }

    .quiz-header .header-score {
        font-size: 17px;
    }

    .quiz-section .result-box {
        left: 33%;
        width: 400px;
    }

    .popup-info h2 {
        font-size: 40px;
    }

}